@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&dislay=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background: #78c1f3;
    min-height: 100vh;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction:column ;
}

.container {
    background: #f8f8f8;
    border-radius: 10px;
    padding: 25px;
    margin-top: 10px;
    box-shadow: 14px 14px 0 0 #000000;
}

.startGame {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.square {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #78c1f3;
    background: #f5f5f5;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px lightblue;     
}

.playground {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    display: none;
}

.square:hover ,
.square.active, 
.playground .square.winner {
    background-color: #78c1f3;
}

.fa-solid {
    font-size: 2.5rem;
    pointer-events: none;
}

.fa-x {
    color: green;
}

.fa-o {
    color: red;
}

.btn {
    margin-top: 1rem;
    text-align: center;
}

#startRestartButton {
    height: 40px;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #78c1f3;
    cursor: pointer;
    box-shadow: 10px 10px 5px lightblue;
}

.results {
    padding: 10px;
}